<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head"></head>
<title>猫眼数据</title>
</head>

<body>

<div id="app">
    <div th:replace="common/guide"></div>

    <div>
        <el-table :data="movies" style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">


                        <el-form-item label="演员">
                            <span>{{ props.row.casts }}</span>
                        </el-form-item>

                        <el-form-item label="上映日期">
                            <span>{{ props.row.date }}</span>
                        </el-form-item>


                        <el-form-item label="简介">
                            <span>{{ props.row.introduction }}</span>
                        </el-form-item>

                    </el-form>
                </template>
            </el-table-column>

            <el-table-column label="电影名" prop="title">
            </el-table-column>

            <el-table-column label="导演" prop="directors">
            </el-table-column>

            <el-table-column label="类型" prop="type">
            </el-table-column>

            <el-table-column label="语言" prop="language">
            </el-table-column>


            <el-table-column label="时长" prop="time">
            </el-table-column>

            <el-table-column label="评分" prop="rate">
            </el-table-column>

            <el-table-column label="评价人数" prop="peopleNumber">
            </el-table-column>



            <el-table-column label="热评" align="center" fixed="right">
                <template slot-scope="scope">
                    <el-button
                            @click="checkHotComment(scope.row.id)">查看热评
                    </el-button>
                </template>
            </el-table-column>

        </el-table>

        <div class="pagination">
            <el-pagination
                    background
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="pageConf.pageCode"
                    :page-sizes="pageConf.pageOption"
                    :page-size="pageConf.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pageConf.totalPage">
            </el-pagination>
        </div>

    </div>



    <el-dialog title="热评" :visible.sync="showingHotComments" width="60%" :close-on-click-modal="false"
               :close-on-press-escape="false">

        <el-table :data="HotComments" style="width: 100%">

            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">

                        <el-form-item label="评论者">
                            <span>{{ props.row.hotCommentAuthor}}</span>
                        </el-form-item>

                    </el-form>
                </template>
            </el-table-column>


            <el-table-column label="评论" prop="hotCommentContent" align="center">
            </el-table-column>


        </el-table>

        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="closeComments()">关闭</el-button>
        </div>
    </el-dialog>


</div>

</body>

<div th:replace="common/js"></div>
<script type="text/javascript" th:src="@{../../js/maoyan.js}"></script>
</html>