<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head"></head>
<title>搜索</title>
</head>
<body>
<div id="app">

    <div th:replace="common/guide"></div>

    <br>
    <el-row>
        <el-col >搜索电影信息</el-col>
        <el-col :span="8">
            <el-input v-model="searchInfo" placeholder="请输入内容"></el-input>
        </el-col>

        <el-col :span="8">
            <el-select v-model="searchType" placeholder="请选择">
                <el-option label="豆瓣"  value="豆瓣">
                </el-option>
                <el-option label="猫眼"  value="猫眼">
                </el-option>
                <el-option label="豆瓣/猫眼"  value="豆瓣/猫眼">
                </el-option>
            </el-select>
            <el-button @click="searchFilmInfo()">精确搜索</el-button>
            <el-button @click="fuzzyQuery()">模糊搜索</el-button>
        </el-col>

    </el-row>


    <br>


    <div v-if="showState.showDouban">
        <el-row>
            <p><span>  </span>{{filmInfo.title}}</p>
            <p><span>导演: </span>  {{filmInfo.directors}}  </p>
            <p><span>评分: </span>  {{filmInfo.rate}}</p>
            <p><span>演员: </span>{{filmInfo.casts}}</p>
            <p><span>类型: </span>{{filmInfo.type}}</p>
            <p><span></span>{{filmInfo.nation}}</p>
            <p><span>语言: </span>{{filmInfo.language}}</p>
            <p><span>上映时间: </span>{{filmInfo.date}}</p>
            <p><span>时长: </span>{{filmInfo.time}}</p>
            <p><span>点评人数: </span>{{filmInfo.peopleNumber}}</p>
            <p><span></span>{{filmInfo.introduction}}</p>

            <el-table :data="filmInfo.hotcommentList" style="width: 100%">
                <el-table-column label="评论" prop="hotCommentContent" align="center">
                </el-table-column>
            </el-table>

        </el-row>
    </div>


    <div v-if="showState.showMaoYan">
        <el-row>
            <p>  {{filmInfo.name}}</p>
            <p> <span>导演: </span> {{filmInfo.director}}</p>
            <p><span>类型: </span>{{filmInfo.type}}</p>
            <p>{{filmInfo.filmingLocation}}</p>
            <p><span>时长: </span>{{filmInfo.duration}}</p>
            <p>{{filmInfo.releasedTime}}</p>
            <p><span>评分: </span>{{filmInfo.score}}</p>
            <p>{{filmInfo.description}}</p>

            <el-table :data="filmInfo.filmCommentList" style="width: 100%">
                <el-table-column label="评论" prop="comment" align="center">
                </el-table-column>
            </el-table>

        </el-row>
    </div>


    <div v-if="showState.showIntegrate">
        <el-row>
            <p>{{filmInfo.title}}</p>
            <p><span>导演: </span>  {{filmInfo.directors}}  </p>
            <p><span>评分: </span>  {{filmInfo.rate}}</p>
            <p><span>演员: </span>{{filmInfo.casts}}</p>
            <p><span>类型: </span>{{filmInfo.type}}</p>
            <p><span></span>{{filmInfo.nation}}</p>
            <p><span>语言: </span>{{filmInfo.language}}</p>
            <p><span>上映时间: </span>{{filmInfo.date}}</p>
            <p><span>时长: </span>{{filmInfo.time}}</p>
            <p><span>点评人数: </span>{{filmInfo.peopleNumber}}</p>
            <p><span></span>{{filmInfo.introduction}}</p>


            <el-table :data="filmInfo.commentList" style="width: 100%">

                <el-table-column label="评论" prop="comment" align="center">
                </el-table-column>

            </el-table>

        </el-row>
    </div>



    <div v-if="FuzzyQueryState.showDouban">

        <el-table :data="movies" style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">


                        <el-form-item label="演员">
                            <span>{{ props.row.casts }}</span>
                        </el-form-item>

                        <el-form-item label="上映日期">
                            <span>{{ props.row.date }}</span>
                        </el-form-item>


                        <el-form-item label="简介">
                            <span>{{ props.row.introduction }}</span>
                        </el-form-item>

                    </el-form>
                </template>
            </el-table-column>

            <el-table-column label="电影名" prop="title">
            </el-table-column>

            <el-table-column label="导演" prop="directors">
            </el-table-column>

            <el-table-column label="类型" prop="type">
            </el-table-column>

            <el-table-column label="语言" prop="language">
            </el-table-column>


            <el-table-column label="时长" prop="time">
            </el-table-column>

            <el-table-column label="评分" prop="rate">
            </el-table-column>

            <el-table-column label="评价人数" prop="peopleNumber">
            </el-table-column>



            <el-table-column label="热评" align="center" fixed="right">
                <template slot-scope="scope">
                    <el-button
                            @click="checkDoubanComment(scope.row.id)">查看热评
                    </el-button>
                </template>
            </el-table-column>

        </el-table>
    </div>


    <div v-if="FuzzyQueryState.showMaoYan">

        <el-table :data="films" style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">


                        <el-form-item label="上映日期">
                            <span>{{ props.row.releasedTime }}</span>
                        </el-form-item>


                        <el-form-item label="简介">
                            <span>{{ props.row.description }}</span>
                        </el-form-item>

                    </el-form>
                </template>
            </el-table-column>

            <el-table-column label="电影名" prop="name">
            </el-table-column>

            <el-table-column label="导演" prop="director">
            </el-table-column>

            <el-table-column label="类型" prop="type">
            </el-table-column>

            <el-table-column label="时长" prop="duration">
            </el-table-column>

            <el-table-column label="评分" prop="score">
            </el-table-column>

            <el-table-column label="热评" align="center" fixed="right">
                <template slot-scope="scope">
                    <el-button
                            @click="checkMaoyanComment(scope.row.id)">查看热评
                    </el-button>
                </template>
            </el-table-column>

        </el-table>

    </div>


    <div v-if="FuzzyQueryState.showIntegrate">

        <el-table :data="integrateFilms" style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">

                        <el-form-item label="演员">
                            <span>{{ props.row.casts }}</span>
                        </el-form-item>

                        <el-form-item label="上映日期">
                            <span>{{ props.row.date }}</span>
                        </el-form-item>


                        <el-form-item label="简介">
                            <span>{{ props.row.introduction }}</span>
                        </el-form-item>

                    </el-form>
                </template>
            </el-table-column>

            <el-table-column label="电影名" prop="title">
            </el-table-column>

            <el-table-column label="导演" prop="directors">
            </el-table-column>

            <el-table-column label="类型" prop="type">
            </el-table-column>

            <el-table-column label="语言" prop="language">
            </el-table-column>


            <el-table-column label="时长" prop="time">
            </el-table-column>

            <el-table-column label="评分" prop="rate">
            </el-table-column>

            <el-table-column label="评价人数" prop="peopleNumber">
            </el-table-column>



            <el-table-column label="热评" align="center" fixed="right">
                <template slot-scope="scope">
                    <el-button
                            @click="checkIntegrateComment(scope.row)">查看热评
                    </el-button>
                </template>
            </el-table-column>

        </el-table>

    </div>



    <el-dialog title="热评" :visible.sync="showingHotComments" width="60%" :close-on-click-modal="false"
               :close-on-press-escape="false">

        <el-table :data="HotComments" style="width: 100%">

            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">

                        <el-form-item label="评论者">
                            <span>{{ props.row.hotCommentAuthor}}</span>
                        </el-form-item>

                    </el-form>
                </template>
            </el-table-column>


            <el-table-column label="评论" prop="hotCommentContent" align="center">
            </el-table-column>


        </el-table>

        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="closeDoubanComments()">关闭</el-button>
        </div>
    </el-dialog>


    <el-dialog title="热评" :visible.sync="showingFilmComments" width="60%" :close-on-click-modal="false"
               :close-on-press-escape="false">

        <el-table :data="filmComments" style="width: 100%">

            <el-table-column label="评论" prop="comment" align="center">
            </el-table-column>


        </el-table>

        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="closeMaoyanComments()">关闭</el-button>
        </div>
    </el-dialog>



    <el-dialog title="热评" :visible.sync="showIntegrateComments" width="60%" :close-on-click-modal="false"
               :close-on-press-escape="false">

        <el-table :data="commentLists" style="width: 100%">
            <el-table-column label="评论" prop="comment" align="center">
            </el-table-column>
        </el-table>

        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="closeIntegrateComment()">关闭</el-button>
        </div>
    </el-dialog>









</div>

</body>
<div th:replace="common/js"></div>
<script type="text/javascript" th:src="@{../../js/search.js}"></script>
</html>